.side-panel {
    position: fixed;
    background-color: white;
    left: 0px;
    top: 150px;
    padding: 1rem;
    border: 1px solid black;
}
/* Стилизация для трека (линии) */
.ant-slider-track {
    background-color: #007BFF !important; /* Синий цвет трека */
  }
  
  /* Стилизация для рукоятки (ползунка) */
  .ant-slider-handle {
    border-color: #007BFF !important; /* Синий цвет границы рукоятки */
    background-color: #007BFF !important; /* Синий цвет рукоятки */
  }
  
  /* Стилизация при наведении на рукоятку */
  .ant-slider-handle:hover {
    border-color: #0056b3 !important; /* Более тёмный синий при наведении */
  }
  
  /* Стилизация неактивного трека */
  .ant-slider-rail {
    background-color: #d9d9d9; /* Цвет неактивного трека */
  }
  