.filter-inputs {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.filter-input {
  flex: 1 0 calc(33.333% - 5px);
}
.filter-options {
  width: 100%;
}
.filter-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preview-container {
  margin-top: 1em;
  display: flex;
}
/* Убираем темное выделение и задаем светлое */
.ant-select-item-option-selected {
  background-color: #e6f7ff !important; /* Светлый голубой фон */
  color: black !important; /* Черный текст */
}

/* Изменяем цвет при наведении */
.ant-select-item-option-active {
  background-color: #f0f0f0 !important; /* Светло-серый фон при наведении */
  color: black !important; /* Черный текст */
}